@media screen and (max-width: 524px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Droid Serif', serif;
        color: #2F4858;
    }

    body {

        color: #2F4858;
        background-image: url("../img/paper2.jpeg");
        background-color: #F9F7F1;

        background-size: cover;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    footer {
        display: flex;
        padding-top: 10em;
        margin-bottom: 0;
        margin-top: 3em;
        flex-basis: 25%;
        justify-content: space-between;
        align-items: flex-end;
    }

    footer p {
        margin-bottom: 1em;
    }
    img {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 90%;
        -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
        filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
        mix-blend-mode: multiply;
    }
    .imageRadius{
        border-radius: 11px;
    }

    .header-img {
        display: flex;
        justify-content: center;
    }

    h1 {
        display: flex;
        font-size: 5em;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        color: black;
        margin: 0;
        padding: .5em;
    }

    h2 {
        margin-bottom: .5em;
        text-align: center;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

    h2:before {
        border-top: 1px solid #2f2f2f;
        content: '';
        width: 150px;
        height: 7px;
        display: block;
        margin: 0 auto;
    }
    h2:after {
        border-bottom: 1px solid #2f2f2f;
        content: '';
        font-style: normal;
        width: 150px;
        height: 10px;
        display: block;
        margin: 0 auto;
    }
    a {
        color: #005B47;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #FBFBF8;
        font-family: 'Droid Serif', serif;
        font-size: 1.5em;
        margin: .8em auto;
        height: 3em;
        width: 80%;
        border-radius: 11px;
        box-shadow:  8px 8px 15px #e5e3de,
        -8px -8px 15px #fbfbf8;
    }
    p {
        font-size: 1.3em;
    }
    .alert-info {
        text-decoration: none;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }

    .alert-info a {

        text-decoration: none;
        padding: 1em 0;
        box-shadow:  8px 8px 15px #e5e3de,
        -8px -8px 15px #fbfbf8;
    }

    .hidden-on-desktop {
        list-style: none;
        text-decoration: none;
    }

    .nav-links {
        flex-direction: column;
        list-style: none;
        margin: auto;
        justify-content: center;
    }

    .main {
        margin-bottom: 2em;
    }

    .main p {
        padding: .5em;
    }
    .sub-section h2{
        font-weight: 400;
        font-style: normal;
        font-family: "Playfair Display";
    }

    .sub-section p {
        font-style: italic;
        padding: .5em;
    }
    #social-media-links {
        flex-direction: row;

    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        box-shadow: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 5px
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 5px
    }

    .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        color: white;
        border-radius: 5px
    }
}

@media screen and (min-width: 525px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        color: black;
        font-family: sans-serif;
        display: flex;
        margin: 0;
        flex-direction: column;
        background-image: url("../img/paper2.jpeg");
        background-color: #F9F7F1;

        background-size: cover;
    }

    .hidden-on-desktop {
        display: none;
        text-decoration: none;
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    li {
        padding: 0;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em;
        margin-top: .5em;
        border-top: 3px double #2f2f2f;
        border-bottom: 3px double #2f2f2f;
    }

    nav .nav-links {
        margin-left: auto;
    }

    img {
        display: flex;
        width: 60vw;
        margin-top: 2em;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
        filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
        mix-blend-mode: multiply;
    }

    h2 {
        margin: 1em auto 1em;
        text-align: center;
    }

    h2:before {
        border-top: 1px solid #2f2f2f;
        content: '';
        width: 150px;
        height: 7px;
        display: block;
        margin: 0 auto;
    }

    h2:after {
        border-bottom: 1px solid #2f2f2f;
        content: '';
        font-style: normal;
        width: 150px;
        height: 10px;
        display: block;
        margin: 0 auto;
    }
    a {
        color: #2F4858;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: "Droid Serif";
        font-size: 1.2rem;
        margin: .5em 0;
        padding: 0;
    }
    nav a {
        color: #748c89;
    }
    nav a:before{
        content: '';
        right: 10px;
        top: 10px;
        border-bottom: 2px solid #2f4858;
        border-left: 2px solid #2f4858;
        transform: translate(100%, -50%);
    }
    nav a::before, a::after{
        content: '';
        height: 12px;
        width: 12px;
        /*position: absolute;*/
        transition: all .35s ease;
        opacity: 0;

        padding: 0;
    }
    nav a:after {
        content: '';
        left: 10px;
        bottom: 10px;
        border-top: 2px solid #2f4858;
        border-right: 2px solid #2f4858;
        transform: translate(-100%, 50%)
    }
    nav a:hover:before {
        transform: translate(0 ,100%);
        opacity: 1;
    }
    nav a:hover:after {
        transform: translate(-10%, -60%);
        opacity: 1;
    }
    nav a:hover{
        color: #2f4858;
    }
    p {
        margin: 1em;
        display: flex;
    }

    .main h2 {
        font-family: "Playfair Display";
    }

    .main p {
        font-family: "Droid Serif";
    }
    .both-sections {
        display: flex;
        justify-content: center;
    }

    .main {
        flex: 2;
        max-width: 600px;
        margin-top: 1em;
    }

    .sub-section {
        flex: 1;
        margin-top: 1em;
        font-family: "Playfair Display";
        max-width: 350px;
    }

    #social-media-links {
        flex-direction: row;
        padding-right: 1em;

    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 5px
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 5px
    }

    .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        color: white;
        border-radius: 5px
    }

    .sub-section h2 {
        font-weight: 400;
        font-style: normal;
        font-family: "Playfair Display";
    }

    .sub-section p {
        font-style: italic;
        padding: .5em;
    }

    footer {
        display: flex;
        padding-top: 10em;
        margin-bottom: 1em;
        margin-top: 3em;
        flex-basis: 25%;
        justify-content: space-between;
        align-items: flex-end;
    }

}
